<!--
  Generated template for the WeatherPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Weather Forecast</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
       <ion-item>
          <ion-label fixed>Search: </ion-label>
          <ion-input type="text" [(ngModel)]="search" (keyup)="searchCity()"></ion-input>
        </ion-item>
     <div *ngIf="data2" style="margin-top: 20px">
      <h4 text-center>{{data2.display_location.full}}</h4>
      <h4 text-center>{{data2.weather}}</h4>
      <p text-center><img src="{{data2.icon_url}}"></p>

      <ion-list>
        <ion-item>
          <p>Feels like : {{data2.feelslike_string}}</p>
        </ion-item>
        <ion-item>
          <p>Wind : {{data2.wind_dir}} - {{data2.wind_string}}</p>
        </ion-item>

       
      </ion-list>
    </div> 

    <div *ngIf="result">
         <p>Location: {{result.city}} - {{result.district}}</p>
    </div>
 
   
</ion-content>
